{% extends 'base.html.twig' %}

{% block title %}Edit Author{% endblock %}

{% block body %}
    <h1>Edit Author</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Save Changes</button>
    {{ form_end(form) }}
{% endblock %}
