{% extends 'base.html.twig' %}

{% block title %}List authors{% endblock %}

{% block body %}
    <h1 style="text-align: center;">List authors</h1>

    <table border="1" cellspacing="0" cellpadding="5" style="margin: 0 auto;">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        {% for author in authors %}
            <tr>
                <td>{{ author.username }}</td>
                <td>{{ author.email }}</td>
                <td>
                    <a href="{{ path('author_edit', {id: author.id}) }}">Edit</a> |
                    <a href="{{ path('author_delete', {id: author.id}) }}"
                       onclick="return confirm('Are you sure you want to delete this author?');">
                        Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
