
# Symfony / PHP / Node
/vendor/
/var/
/public/build/
/public/bundles/
/node_modules/

# Local env & secrets
.env.local
.env.*.local
.phpunit.result.cache
.phpunit.cache/

# IDE/editor junk
/.idea/
/.vscode/
/.DS_Store

# Logs & cache
*.log


###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
