{% extends 'base.html.twig' %}

{% block title %}Update Book{% endblock %}

{% block body %}
    <h1 style="text-align: center;">Update Book</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Save</button>
    {{ form_end(form) }}

    <br>
    <a href="{{ path('book_published_list') }}">back to list</a>
{% endblock %}
